html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.scratchpad {
    width: 450px;
    height: 445px;
    border: solid 10px #fff;
    margin: 0 auto;
}

body {
    background: #efefef;
}

h1 {
    text-align: center;
    font-size: 72px;
}

p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.scratch-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

.promo-container {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 450px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', Arial, Sans-serif;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
}

.btn {
    background: #56CFD2;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

@media only screen and (max-width: 480px) {
    .scratchpad {
        width: 400px;
        height: 396px;
    }
    .scratch-container {
        width: 400px !important;
    }
}

@media only screen and (max-width: 320px) {
    .scratchpad {
        width: 290px;
        height: 287px;
    }
    .scratch-container {
        width: 290px !important;
    }
}